* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2, p, em, a {
    font-family: 'Open Sans', sans-serif;
}

.principal {
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
    color: black;
}

#banner {
    width: 100%;
}

.principal h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 30px;
}

.principal h2 {
    font-weight: normal;
    font-size: 1.2rem;
    margin-top: 10px;
}

.principal .seta-para-baixo {
    margin-top: 60px;
}

.bloco {
    width: 100%;
    padding: 100px 30px;
    text-align: center;
}

.bloco.azul {
    background-color: #262EBF;
}

.bloco.azul-escuro {
    background-color: #03318C;
}

.bloco.azul-mais-escuro {
    background-color: #022859;
}

.bloco.cinza {
    background-color: #072326;
}

.bloco.vermelho {
    background-color: #A62C21;
}

.bloco p {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #e9e9e9;
}

.bloco img {
    margin-top: 50px;
    max-width: 100%;
}

.bloco.citacao p {
    color: black;
}

.bloco.citacao #autor {
    font-weight: lighter;
}

.bloco.links {
    background-color: #072326;
}

.bloco.links h2 {
    color: #e9e9e9;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
}

.bloco.links ul {
    margin-top: 30px;
    list-style: none;
}

.bloco.links ul li {
    margin-top: 10px;
}

.bloco.links ul li a {
    color: #bdbdbd;
}

.imagem-nebulosa {
    width: 100%;
}